# ML Lab 7:  t-Test

#### Submitted by
> Debatreya Das <br>
> Roll No. 12212070 <br>
> CS A4 <br>
> ML Lab 7

### Import necessary Libraries

In [1]:
import pandas as pd
import numpy as np

### Load Dataset

In [2]:
data = pd.read_csv('./sample.csv')

data

    Participant Group  Score
0             1     A     56
1             2     A     67
2             3     A     45
3             4     A     59
4             5     A     63
5             6     A     70
6             7     A     54
7             8     A     60
8             9     A     58
9            10     A     62
10           11     A     65
11           12     A     61
12           13     A     64
13           14     A     57
14           15     A     68
15           16     A     55
16           17     A     69
17           18     A     59
18           19     A     66
19           20     A     71
20           21     B     68
21           22     B     72
22           23     B     61
23           24     B     69
24           25     B     75
25           26     B     80
26           27     B     64
27           28     B     70
28           29     B     66
29           30     B     73
30           31     B     77
31           32     B     62
32           33     B     74
33           34     B     78
34           35     B     65
35           36     B     67
36           37     B     71
37           38     B     76
38           39     B     63
39           40     B     79

### Separate data into Group A and Group B

In [3]:
group_a = data[data['Group'] == 'A']['Score'].values
group_b = data[data['Group'] == 'B']['Score'].values

print("Group A", group_a)
print("Group B", group_b)

Group A [56 67 45 59 63 70 54 60 58 62 65 61 64 57 68 55 69 59 66 71]
Group B [68 72 61 69 75 80 64 70 66 73 77 62 74 78 65 67 71 76 63 79]

## t-Test Function Implementation

$$
t = \frac{\bar{X_1} - \bar{X_2}}{\sqrt{\frac{S_1^2}{n_1} + \frac{S_2^2}{n_2}}}
$$

In [13]:
def calculate_t_statistic(group_a, group_b):
    # Number of samples in each group
    n1 = len(group_a)
    n2 = len(group_b)
    
    # Mean of each group
    mean_a = np.mean(group_a)
    mean_b = np.mean(group_b)
    
    # Variance of each group
    var_a = np.var(group_a)
    var_b = np.var(group_b)
    
    # T-statistic formula
    t_stat = (mean_a - mean_b) / np.sqrt((var_a / n1) + (var_b / n2))
    
    return t_stat

### Calculating t-statistic for the given data

In [14]:
t_statistic = calculate_t_statistic(group_a, group_b)
print(f"T-statistic: {t_statistic}")

T-statistic: -4.759945027245784

## Implementing the function to calculate the degrees of freedom


$$
df = \frac{\left(\frac{S_1^2}{n_1} + \frac{S_2^2}{n_2}\right)^2}{\frac{\left(\frac{S_1^2}{n_1}\right)^2}{n_1-1} + \frac{\left(\frac{S_2^2}{n_2}\right)^2}{n_2-1}}
$$

In [16]:
def calculate_degrees_of_freedom(group_a, group_b):
    n1 = len(group_a)
    n2 = len(group_b)
    
    var_a = np.var(group_a, ddof=1)
    var_b = np.var(group_b, ddof=1)
    
    numerator = ((var_a / n1) + (var_b / n2)) ** 2
    denominator = ((var_a ** 2) / ((n1 ** 2) * (n1 - 1))) + ((var_b ** 2) / ((n2 ** 2) * (n2 - 1)))
    
    df = numerator / denominator
    return df

### Calculating the degress of freedom for the data

In [17]:

# Calculate the degrees of freedom
df = calculate_degrees_of_freedom(group_a, group_b)
print(f"Degrees of freedom: {df}")

Degrees of freedom: 37.757207747519985

## Look Up Critical Value for T-distribution (5% level of significance)

In [18]:
from scipy.stats import t

# Set significance level (alpha) for two-tailed test
alpha = 0.05

# Calculate the critical t-value
critical_value = t.ppf(1 - alpha / 2, df)
print(f"Critical t-value: {critical_value}")

Critical t-value: 2.0248217426546193

## Interpret the result

In [19]:
# Compare t-statistic with critical value
if abs(t_statistic) > critical_value:
    print("Reject the null hypothesis - there is a significant difference between the two groups.")
else:
    print("Accept the null hypothesis - there is no significant difference between the two groups.")

Reject the null hypothesis - there is a significant difference between the two groups.